{% if app.request.attributes.get('_route') != "interfaceRdv" %}

{% if not app.user %}

	<header>
		
			<div class="row justify-content-end align-items-center topBar">
				<p class="text-light mb-0 mr-3">
					Appelez-nous au 
					<a href="tel:+33767535224" style="color:rgb(193, 147, 50);">+33 (0)7 67 53 52 24</a>
				</p>

				<button class="btn btn-warning btnTopBar">Être rappelé</button>
				<button class="btn btn-success btnTopBar"><a class="text-light" style="text-decoration: none;" href="{{ path('app_login') }}">Connexion</a></button>
			</div>
		

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand ml-3" href="{{ path('home') }}"><img src="{{asset('logo/logoAppTransparent.png')}}" alt="" id="navLogo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('home') }}">Accueil
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Prise de rdv</a>
					</li>
					{% if not app.user %}
						{# <li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li> #}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Solution</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Outil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Exemples</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Tarifs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Contact</a>
						</li>
					{% endif %}
					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="userMenu"></a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="{{ path('userInfos', { 'id': app.user.id }) }}">Gérer vos informations</a>
								<a class="dropdown-item" href="{{ path('agenda', { 'id': app.user.id }) }}">Votre Agenda</a>
								<a class="dropdown-item" href="{{ path('prestations', { 'id': app.user.id }) }}">Gestions des catégories et des prestations</a>
								<div class="dropdown-divider"></div>
								<a class="nav-link text-danger" href="{{ path('app_logout') }}">Deconnexion</a>
							</div>
						</li>
						
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>

	{% if not app.user %}
	{% if app.request.get('_route') == 'home' %}
		<div class="row banner">
			<div class="shadow justify-content-center align-items-center  d-flex flex-column">
				<h1 class="text-light">
					Prise de Rendez-vous
				</h1>
				<h4 class="text-light">
					Smart Agenda - 
					Envoie de SMS -
					Adaptable à n'importe quel site web
				</h4>

				<button class="btn btn-outline-light rounded">Voir la démo</button>
			</div>
		</div>
	{% endif %}
	{% endif %}

{% endif %}

{% if app.user %}
<input type="hidden" id="companyName" value="{{app.user.companyName}}">
<input type="hidden" id="idUser" value="{{app.user.id}}">

      <!--  BEGIN NAVBAR  -->
	<div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">

            <ul class="navbar-item theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('logo/logoAppSingle.png') }}" class="navbar-logo" alt="logo">
                    </a>
                </li>
                <li class="nav-item theme-text">
                    <a href="{{ path('home') }}" class="nav-link"> R&Clic </a>
                </li>
            </ul>

            <ul class="navbar-item flex-row ml-md-auto">

                <li class="nav-item dropdown user-profile-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <!-- <img src="assets/img/90x90.jpg" alt="avatar"> -->
                    </a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        
                        <div class="">
                        
                            {% if app.request.attributes.get('_route') == "userInfos" %}
                                <div class="dropdown-item active">
                            {% else %}
                                <div class="dropdown-item">
                            {% endif %}
                                <a class="" href="{{ path('userInfos', { 'id': app.user.id }) }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Profile</a>
                            </div>
                            <!-- <div class="dropdown-item">
                                <a class="" href="apps_mailbox.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg> Inbox</a>
                            </div> -->
                            <!-- <div class="dropdown-item">
                                <a class="" href="auth_lockscreen.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg> Lock Screen</a>
                            </div> -->
                            {% if app.user.theme == "light" %}
                                
                                <div class="dropdown-item">
                                    <button class="btn btn-dark btn-theme" id="theme">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                                        Sombre
                                    </button>
                                </div>

                            {% endif %}

                            {% if app.user.theme == "dark" %}
                                
                                <div class="dropdown-item">
                                    <button class="btn btn-light btn-theme" id="theme">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                                        Clair
                                    </button>
                                </div>

                            {% endif %}
                            <div class="dropdown-item">
                                <a class="text-danger" href="{{ path('app_logout') }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Sign Out</a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->


	 <!--  BEGIN NAVBAR  -->
	 <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">R&Clic</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span id="titlePage"></span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->


	 <!--  BEGIN MAIN CONTAINER  -->
	 <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>


		<!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">
            
            <nav id="sidebar">
                <div class="shadow-bottom"></div>

                <ul class="list-unstyled menu-categories" id="accordionExample">

                    <li class="menu">
                        <a href="{{ path('home') }}" aria-expanded="false" class="dropdown-toggle">
                            {% if app.request.attributes.get('_route') == "home" %}
                            <div class="active">
                            {% else %}
                            <div class="">
                            {% endif %}
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                                <span>Tableau de bord</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="#prestationsDropDown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                <span>Prestations</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>

                        {% if app.request.attributes.get('_route') == "prestations" or app.request.attributes.get('_route') == "showCategories" or app.request.attributes.get('_route') == "showPrestations" %}
                        <ul class="collapse submenu list-unstyled show" id="prestationsDropDown" data-parent="#accordionExample">
                        {% else %}
                        <ul class="collapse submenu list-unstyled" id="prestationsDropDown" data-parent="#accordionExample">
                        {% endif %}
                            {% if app.request.attributes.get('_route') == "prestations" %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ path('prestations', { 'id': app.user.id }) }}"> Ajouts </a>
                            </li>

                            {% if app.request.attributes.get('_route') == "showCategories" %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ path('showCategories', { 'id': app.user.id }) }}"> Mes catégories </a>
                            </li>


                            {% if app.request.attributes.get('_route') == "showPrestations" %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ path('showPrestations', { 'id': app.user.id }) }}"> Mes prestations </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu">
                        <a href="#collaborateurDropDown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                <span>Collaborateurs</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>

                        {% if app.request.attributes.get('_route') == "employes" or app.request.attributes.get('_route') == "showEmployes" %}
                        <ul class="collapse submenu list-unstyled show" id="collaborateurDropDown" data-parent="#accordionExample">
                        {% else %}
                        <ul class="collapse submenu list-unstyled" id="collaborateurDropDown" data-parent="#accordionExample">
                        {% endif %}

                            {% if app.request.attributes.get('_route') == "employes" %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ path('employes', { 'id': app.user.id }) }}"> Ajouts </a>
                            </li>

                            {% if app.request.attributes.get('_route') == "showEmployes" %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ path('showEmployes', { 'id': app.user.id }) }}"> Mes collaborateurs </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="menu">
                        <a href="{{ path('agenda', { 'id': app.user.id }) }}" aria-expanded="false" class="dropdown-toggle">

                            {% if app.request.attributes.get('_route') == "agenda" %}
                            <div class="active">
                            {% else %}
                            <div class="">
                            {% endif %}
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                <span>Mon agenda</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="{{ path('chiffres', { 'id': app.user.id }) }}" aria-expanded="false" class="dropdown-toggle">

                            {% if app.request.attributes.get('_route') == "chiffres" %}
                            <div class="active">
                            {% else %}
                            <div class="">
                            {% endif %}
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
                                <span>Mes chiffres</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="{{ path('fichesClients', { 'id': app.user.id }) }}" aria-expanded="false" class="dropdown-toggle">
                            
                            {% if app.request.attributes.get('_route') == "fichesClients" %}
                            <div class="active">
                            {% else %}
                            <div class="">
                            {% endif %}
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                                <span>Fiches clients</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="{{ path('interfaceRdv', { 'id': app.user.id }) }}" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
                                <span>Interface de RDV</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="{{ path('config', { 'id': app.user.id }) }}" aria-expanded="false" class="dropdown-toggle">

                            {% if app.request.attributes.get('_route') == "config" %}
                            <div class="active">
                            {% else %}
                            <div class="">
                            {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                                <span>Paramètres</span>
                            </div>
                        </a>
                    </li>
                    
                </ul>
                
            </nav>

        </div>
        <!--  END SIDEBAR  -->

		<div id="content" class="main-content">

{% endif %}

{% for label,messages in app.flashes %}
	<div class="container text-center my-5">
		<div class="alert alert-{{label}}">
			{% for message in messages %}
				 {{ message | raw }}
			{% endfor %}
		</div>
	</div>
{% endfor %}


{% block javascripts %}
	<script>

        var btn = document.getElementById('theme');
            btn.addEventListener('click', function(){
                var xhr = new XMLHttpRequest();
                    xhr.open('PATCH', '/api/users/theme/'+document.getElementById('idUser').value);
                    xhr.onload = () => {
                        var response = JSON.parse(xhr.response);
                        console.log(response);
                        window.location.reload();
                    }
                    xhr.setRequestHeader('Content-Type', 'application/merge-patch+json');
                    xhr.send(JSON.stringify({
                        theme: "anything"
                    }));
            })

	</script>
{% endblock javascripts %}

{% block stylesheets %}
    <style>
        #sidebar ul.menu-categories ul.submenu > li a:hover{
            color: rgb(169, 120, 28) !important;
        }
        .btn-theme{
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% endif %}




