<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css" rel="stylesheet"> -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">  
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" integrity="sha256-u40zn9KeZYpMjgYaxWJccb4HnP0i8XI17xkXrEklevE=" crossorigin="anonymous">
		

		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
		<link href="{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
		<link href="{{asset('assets/css/plugins.css')}}" rel="stylesheet" type="text/css" />
		<!-- END GLOBAL MANDATORY STYLES -->

		 <!-- BEGIN PAGE LEVEL STYLE -->
		 <!-- <link href="{{asset('plugins/fullcalendar/fullcalendar.css')}}" rel="stylesheet" type="text/css" /> -->
		 <link href="{{asset('plugins/fullcalendar/custom-fullcalendar.advance.css')}}" rel="stylesheet" type="text/css" />
		 <link href="{{asset('plugins/flatpickr/flatpickr.css')}}" rel="stylesheet')}}" type="text/css">
		 <link href="{{asset('plugins/flatpickr/custom-flatpickr.css')}}" rel="stylesheet" type="text/css">
		 <link href="{{asset('assets/css/forms/theme-checkbox-radio.css')}}" rel="stylesheet" type="text/css" />
		 <link href="{{asset('assets/css/components/cards/card.css')}}" rel="stylesheet" type="text/css" />
		 <link href="{{asset('plugins/apex/apexcharts.css')}}" rel="stylesheet" type="text/css">
    	 <link href="{{asset('assets/css/dashboard/dash_1.css')}}" rel="stylesheet" type="text/css" />
		 <link href="{{asset('assets/css/scrollspyNav.css')}}" rel="stylesheet" type="text/css" />
		 <link href="{{asset('assets/css/components/custom-modal.css')}}" rel="stylesheet" type="text/css" />
		 <link href="{{asset('plugins/file-upload/file-upload-with-preview.min.css')}}" rel="stylesheet" type="text/css" />
		 <link rel="stylesheet" type="text/css" href="{{asset('plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css')}}">
		 <link href="{{asset('assets/css/elements/miscellaneous.css')}}" rel="stylesheet" type="text/css" />
		 <link rel="stylesheet" type="text/css" href="{{asset('assets/css/forms/theme-checkbox-radio.css')}}">
		 <!-- END PAGE LEVEL STYLE -->

		<link rel="apple-touch-icon" sizes="57x57" href="{{asset('logo/apple-icon-57x57.png')}}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{asset('logo/apple-icon-60x60.png')}}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{asset('logo/apple-icon-72x72.png')}}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{asset('logo/apple-icon-76x76.png')}}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{asset('logo/apple-icon-114x114.png')}}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{asset('logo/apple-icon-120x120.png')}}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{asset('logo/apple-icon-144x144.png')}}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{asset('logo/apple-icon-152x152.png')}}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('logo/apple-icon-180x180.png')}}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{asset('logo/android-icon-192x192.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('logo/favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{asset('logo/favicon-96x96.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('logo/favicon-16x16.png')}}">
		<link rel="manifest" href="{{asset('logo/manifest.json')}}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{asset('logo/ms-icon-144x144.png')}}">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:title" content="R&Clic.. L'appli qui te permet de réserver en quelques clic" />
		<meta property="og:type" content="siteweb" />
		<meta property="og:image" content="http://www.votresiteweb.com/image-nom.jpg"/>
		<meta property="og:url" content="http://www.votresitewebcom" />
		<meta property="og:description" content="Votre super description qui décrit parfaitement ce dont vous allez parler." />



		<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

		<title>R & Clic -
			{% block title %}{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('css/style.css')}}"> {% block stylesheets %}{% endblock %}

		</head>
		<body>

			<!--  END LOADER -->
			{% include "partials/header.html.twig" %}

			{% if not app.user %}
				<div class="container-fluid"> 
			{% endif %}
				
				{% block body %}{% endblock %}

			{% if app.user %}
					</section>
				</div>
			{% endif %}

			{% if not app.user %}
				</div> 
			{% endif %}

				{% include "partials/footer.html.twig" %}

				{% include "partials/scripts.html.twig" %}

				{% if app.request.attributes.get('_route') != "interfaceRdv" %}

					<script src="{{asset('js/app.js')}}"></script>

				{% endif %}

				{% block javascripts %}{% endblock %}

			</body>
		</html>
