{% extends 'base.html.twig' %}

{% block title %}{{ employe.companyName }}{% endblock %}

{% block body %}
<input type="hidden" id="employeName" value="{{ employe.companyName }}">
{{ form_start(editEmploye) }}

<div class="container">
    <div class="mb-5 p-2 mt-5">

                <div class="row mt-3 ml-0 mb-4">
                    <h4>{{ employe.companyName }}</h4>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-12">
                        {{ form_row(editEmploye.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
    
                    <div class="col-lg-6 col-12">
                        {{ form_row(editEmploye.companyName, {'attr': {'class': 'form-control'}}) }}
                    </div>
      
                    {{ form_row(editEmploye.employeColor, {'attr': {'class': 'form-control'}}) }}
                    
                </div>

                <div class="row mt-2 mb-4">

					<div class="col-lg-5 col-12 d-flex justify-content-around align-items-start  rounded px-3 pt-3" style="padding-right:15px;">
						<div class="d-flex flex-column">
							<h6 class="w-100">Modifier la couleur</h6>
							<div id="boxColor" class="boxColor"></div>
							<p class="mt-2"><b id="hexaText"></b></p>
							<p><b id="rgbText"></b></p>
						</div>
						<div id="picker" class="col-4"></div>
					</div>

				</div>

                    <div class="row my-5 pl-5">
                        <h6>Horaires</h6>
                    </div>
    
                    <div class="row">
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="lundiCheck" id="lundiCheck">
                                Lundi
                                <i class="fas fa-sort-down pointer" id="lundiDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="lundiDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="lundiStart" value="08:00" id="lundiStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="lundiEnd" value="19:00" id="lundiEnd">
                                </div>
                            </div> 
                        </div>  
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="mardiCheck" id="mardiCheck">
                                Mardi
                                <i class="fas fa-sort-down pointer" id="mardiDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="mardiDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="mardiStart" value="08:00" id="mardiStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="mardiEnd" value="19:00" id="mardiEnd">
                                </div>
                            </div>
                        </div>  
                             
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="mercrediCheck" id="mercrediCheck">
                                Mercredi
                                <i class="fas fa-sort-down pointer" id="mercrediDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="mercrediDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="mercrediStart" value="08:00" id="mercrediStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="mercrediEnd" value="19:00" id="mercrediEnd">
                                </div>
                            </div>
                        </div>      
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="jeudiCheck" id="jeudiCheck">
                                Jeudi
                                <i class="fas fa-sort-down pointer" id="jeudiDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="jeudiDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="jeudiStart" value="08:00" id="jeudiStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="jeudiEnd" value="19:00" id="jeudiEnd">
                                </div>
                            </div>
                        </div>   
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="vendrediCheck" id="vendrediCheck">
                                Vendredi
                                <i class="fas fa-sort-down pointer" id="vendrediDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="vendrediDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="vendrediStart" value="08:00" id="vendrediStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="vendrediEnd" value="19:00" id="vendrediEnd">
                                </div>
                            </div>
                        </div>      
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="samediCheck" id="samediCheck">
                                Samedi
                                <i class="fas fa-sort-down pointer" id="samediDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="samediDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="samediStart" value="08:00" id="samediStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="samediEnd" value="19:00" id="samediEnd">
                                </div>
                            </div>
                        </div> 
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="dimancheCheck" id="dimancheCheck">
                                Dimanche
                                <i class="fas fa-sort-down pointer" id="dimancheDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="dimancheDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="dimancheStart" value="08:00" id="dimancheStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="dimancheEnd" value="19:00" id="dimancheEnd">
                                </div>
                            </div>
                        </div>  
                    </div>
                <br>
                <div class="col-3">
                <br>
                    <button type="submit" class="btn btn-warning">Modifier</button>
                </div>
                    <br>
        
            </div>
        </div>
    
    
    {{ form_end(editEmploye) }}

    <input type="hidden" value="{{ employe.id }}" id="userId">
          
    {% endblock %}
    
    {% block javascripts %}
        <script>

            document.getElementById('titlePage').innerHTML = document.getElementById('employeName').value;

            var userId = document.getElementById('userId').value;
    
            document.getElementById('dimancheDropdownBtn').addEventListener('click', function(){
                document.getElementById('dimancheDropdown').classList.toggle('open');
            })
            document.getElementById('samediDropdownBtn').addEventListener('click', function(){
                document.getElementById('samediDropdown').classList.toggle('open');
            })
            document.getElementById('vendrediDropdownBtn').addEventListener('click', function(){
                document.getElementById('vendrediDropdown').classList.toggle('open');
            })
            document.getElementById('jeudiDropdownBtn').addEventListener('click', function(){
                document.getElementById('jeudiDropdown').classList.toggle('open');
            })
            document.getElementById('mercrediDropdownBtn').addEventListener('click', function(){
                document.getElementById('mercrediDropdown').classList.toggle('open');
            })
            document.getElementById('mardiDropdownBtn').addEventListener('click', function(){
                document.getElementById('mardiDropdown').classList.toggle('open');
            })
            document.getElementById('lundiDropdownBtn').addEventListener('click', function(){
                document.getElementById('lundiDropdown').classList.toggle('open');
            })


            function callUserInfos(){
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/api/users/'+userId);
                xhr.onload = () => {
                    const res = JSON.parse(xhr.response);
                    userInfos = res;
                    console.log({
                      type: "CONSOLE USER",
                      data: userInfos
                    });
                    
                    for(var i = 0; i < res.workDays.length; i++){
                      var day = res.workDays[i];
                   
                      if(day.daysOfWeek[0] === 1){
                          document.getElementById('lundiCheck').checked = true;
                          document.getElementById('lundiStart').value = day.startTime;
                          document.getElementById('lundiEnd').value = day.endTime;
                      }else if(day.daysOfWeek[0] === 2){
                          document.getElementById('mardiCheck').checked = true;
                          document.getElementById('mardiStart').value = day.startTime;
                          document.getElementById('mardiEnd').value = day.endTime;
                      }else if(day.daysOfWeek[0] === 3){
                          document.getElementById('mercrediCheck').checked = true;
                          document.getElementById('mercrediStart').value = day.startTime;
                          document.getElementById('mercrediEnd').value = day.endTime;
                      }else if(day.daysOfWeek[0] === 4){
                          document.getElementById('jeudiCheck').checked = true;
                          document.getElementById('jeudiStart').value = day.startTime;
                          document.getElementById('jeudiEnd').value = day.endTime;
                      }else if(day.daysOfWeek[0] === 5){
                          document.getElementById('vendrediCheck').checked = true;
                          document.getElementById('vendrediStart').value = day.startTime;
                          document.getElementById('vendrediEnd').value = day.endTime;
                      }else if(day.daysOfWeek[0] === 6){
                          document.getElementById('samediCheck').checked = true;
                          document.getElementById('samediStart').value = day.startTime;
                          document.getElementById('samediEnd').value = day.endTime;
                      }else if(day.daysOfWeek[0] === 7){
                          document.getElementById('dimancheCheck').checked = true;
                          document.getElementById('dimancheStart').value = day.startTime;
                          document.getElementById('dimancheEnd').value = day.endTime;
                      }
                    }
        
                }
                xhr.setRequestHeader("Content-Type", "application/json");    
                xhr.send();
            }
    
            window.onload = () => {
                callUserInfos();
                var width = 100;
                if (window.matchMedia("(max-width: 600px)").matches) {
                    width = 60;
                    /* La largeur minimum de l'affichage est 600 px inclus */
                } else {
                    /* L'affichage est inférieur à 600px de large */
                }
                var colorPicker = new iro.ColorPicker("#picker", {
                    // Set the size of the color picker
                    width: width,
                    // Set the initial color to pure red
                    color: document.getElementById('edit_employe_employeColor').value || '#f400'
                    
                });
    
                colorPicker.on(['color:init', 'color:change'], function(color) {
                    // log the current color as a HEX string
                    console.log(color.hexString);
                    document.getElementById('boxColor').style.backgroundColor = color.hexString;
                    document.getElementById('edit_employe_employeColor').value = color.hexString;
                    document.getElementById('hexaText').innerHTML = color.hexString;
                    document.getElementById('rgbText').innerHTML = color.rgbString;
                });
            }      
    
        </script>
    {% endblock javascripts %}