{% extends 'base.html.twig' %}

{% block title %}{{ ficheClient.nom }}  {{ ficheClient.prenom }}
{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(ficheClientForm) }}


        <div class="mb-5 p-2 mt-5">

        <div class="row mt-3 ml-0 mb-4">
            <h4>{{ ficheClient.nom }}  {{ ficheClient.prenom }}</h4>
        </div>
    
                    <div class="row">

                        <div class="col-12 col-md-6">
                            {{ form_row(ficheClientForm.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="col-12 col-md-6">
                            {{ form_row(ficheClientForm.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                    </div>

                    <div class="row mb-5">
                        <div class="col-12">
                            {{ form_row(ficheClientForm.birthday, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-4">
                            {{ form_row(ficheClientForm.email, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            {{ form_row(ficheClientForm.tel, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            {{ form_row(ficheClientForm.cp, {'attr': {'class': 'form-control'}}) }}
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div id="noteCkEditor"></div>
                        </div>
                    </div>
                    {{ form_row(ficheClientForm.note, {'attr': {'class': 'note'}}) }}

                    <div class="col-12 pl-0 mt-3">
                        <button type="submit" class="btn btn-warning">Modifier</button>
                    </div>
    {{ form_end(ficheClientForm) }}

                    <div class="row mt-3 ml-0 mb-4">
                        <h4>Rendez-vous</h4>
                    </div>
        
                    <div class="row rdvTable">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Prestation</th>
                                <th scope="col">Collaborateur</th>
                                <th scope="col">Plus</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for r in rdv %}
                              {% if r.check == false %}
                              <tr class="table-success">
                              {% else %}
                              <tr class="table-info">
                              {% endif %}
                                <td>{{ r.start.date|date("d/m/Y") }}</td>
                                <td>{{ r.prestation }}</td>
                                <td>{{ r.collaborateur }}</td>
                                <td><i class="fas fa-angle-right large" onclick="openModal({{r.id}})"></i></td>
                              </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
</div>    
{% endblock %}

{% block javascripts %}
    <script>
      
        window.onload = () => {
            var editorAdd = null;
            ClassicEditor
                  .create( document.querySelector( '#noteCkEditor' ), {
                    language: 'fr',
                    toolbar: {
                       shouldNotGroupWhenFull: true 
                    }
                   } )
                  .then( editor => {

                          editorAdd = editor;
                          editorAdd.setData(document.getElementById('fiche_client_note').value);
                          
                          editorAdd.model.document.on('change', () => {
                            document.getElementById('fiche_client_note').value = editorAdd.getData();
                          })

                  } )
                  .catch( error => {
                          console.error( error );
                  } );
               
                
          }

        

        function openModal(id){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/appointments/'+id);
            xhr.onload = () => {
                var res = JSON.parse(xhr.response);
                console.log(res);
            };
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send();
        }
    </script>
{% endblock javascripts %}