{% extends 'base.html.twig' %}

{% block title %}Ajouts de collaborateurs
{% endblock %}

{% block body %}

{{ form_start(employeForm) }}

<div class="container">
    <div class="mb-5 p-5 shadow arrondi bg-light mt-5">
    
    <div class="row mt-3 ml-3 mb-4">
                    <h2>Ajouter un collaborateur</h2>
                </div>
                <div class="row col-12">
                    <div class="col-4">
                        {{ form_row(employeForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
    
                    <div class="col-2">
                        {{ form_row(employeForm.password, {'attr': {'class': 'form-control'}}) }}
                    </div>
    
                    <div class="col-6">
                        {{ form_row(employeForm.companyName, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    {{ form_row(employeForm.employeColor, {'attr': {'class': 'form-control'}}) }}
                    
                </div>

                <div class="row col-12 mt-2 mb-4">

                    <div class="col-5 d-flex justify-content-around align-items-start shadow pr-5 py-2 rounded bg-white" style="margin-left:15px;">
                        <div class="d-flex flex-column">
                            <h6 class="w-100">Séléctionner votre couleur</h6>
                            <div id="boxColor"></div>
                            <p class="mt-2"><b id="hexaText"></b></p>
                            <p><b id="rgbText"></b></p>
                        </div>
                        <div id="picker" class="col-3"></div>
                    </div>
                </div>

                    <div class="row my-5 pl-5">
                        <h6>Horaires</h6>
                    </div>
    
                    <div class="row col-12">
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="lundiCheck" id="lundiCheck">
                                Lundi
                                <i class="fas fa-sort-down pointer" id="lundiDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="lundiDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="lundiStart" value="08:00" id="lundiStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="lundiEnd" value="19:00" id="lundiEnd">
                                </div>
                            </div> 
                        </div>  
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="mardiCheck" id="mardiCheck">
                                Mardi
                                <i class="fas fa-sort-down pointer" id="mardiDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="mardiDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="mardiStart" value="08:00" id="mardiStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="mardiEnd" value="19:00" id="mardiEnd">
                                </div>
                            </div>
                        </div>  
                             
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="mercrediCheck" id="mercrediCheck">
                                Mercredi
                                <i class="fas fa-sort-down pointer" id="mercrediDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="mercrediDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="mercrediStart" value="08:00" id="mercrediStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="mercrediEnd" value="19:00" id="mercrediEnd">
                                </div>
                            </div>
                        </div>      
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="jeudiCheck" id="jeudiCheck">
                                Jeudi
                                <i class="fas fa-sort-down pointer" id="jeudiDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="jeudiDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="jeudiStart" value="08:00" id="jeudiStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="jeudiEnd" value="19:00" id="jeudiEnd">
                                </div>
                            </div>
                        </div>   
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="vendrediCheck" id="vendrediCheck">
                                Vendredi
                                <i class="fas fa-sort-down pointer" id="vendrediDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="vendrediDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="vendrediStart" value="08:00" id="vendrediStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="vendrediEnd" value="19:00" id="vendrediEnd">
                                </div>
                            </div>
                        </div>      
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="samediCheck" id="samediCheck">
                                Samedi
                                <i class="fas fa-sort-down pointer" id="samediDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="samediDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="samediStart" value="08:00" id="samediStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="samediEnd" value="19:00" id="samediEnd">
                                </div>
                            </div>
                        </div> 
    
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column my-2">
                            <div class="d-flex justify-content-between align-items-center px-2 w-75" style="background:#eceeef;">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="dimancheCheck" id="dimancheCheck">
                                Dimanche
                                <i class="fas fa-sort-down pointer" id="dimancheDropdownBtn"></i>
                            </div>
                            <div class="close d-flex justify-content-between align-items-center flex-column w-75" id="dimancheDropdown" style="background:#eceeef;">
                                <div class="form-group fontOne">
                                    <label class="fontOne">Début de journée</label>
                                    <input type="time" class="form-control" name="dimancheStart" value="08:00" id="dimancheStart">
                                </div>
                                <div class="form-group fontOne">
                                    <label class="fontOne">Fin de journée</label>
                                    <input type="time" class="form-control" name="dimancheEnd" value="19:00" id="dimancheEnd">
                                </div>
                            </div>
                        </div>  
                    </div>
                <br>
                <div class="col-3">
                <br>
                    <button type="submit" class="btn btn-dark">Ajouter</button>
                </div>
                    <br>
        
            </div>
        </div>
    
    
    {{ form_end(employeForm) }}
          
    {% endblock %}
    
    {% block javascripts %}
        <script>
    
            window.onload = () => {
                var colorPicker = new iro.ColorPicker("#picker", {
                    // Set the size of the color picker
                    width: 100,
                    // Set the initial color to pure red
                    color: document.getElementById('add_employe_employeColor').value || '#f400'
                    
                });
    
                colorPicker.on(['color:init', 'color:change'], function(color) {
                    // log the current color as a HEX string
                    console.log(color.hexString);
                    document.getElementById('boxColor').style.backgroundColor = color.hexString;
                    document.getElementById('add_employe_employeColor').value = color.hexString;
                    document.getElementById('hexaText').innerHTML = color.hexString;
                    document.getElementById('rgbText').innerHTML = color.rgbString;
                });
            }
    
            document.getElementById('dimancheDropdownBtn').addEventListener('click', function(){
                document.getElementById('dimancheDropdown').classList.toggle('open');
            })
            document.getElementById('samediDropdownBtn').addEventListener('click', function(){
                document.getElementById('samediDropdown').classList.toggle('open');
            })
            document.getElementById('vendrediDropdownBtn').addEventListener('click', function(){
                document.getElementById('vendrediDropdown').classList.toggle('open');
            })
            document.getElementById('jeudiDropdownBtn').addEventListener('click', function(){
                document.getElementById('jeudiDropdown').classList.toggle('open');
            })
            document.getElementById('mercrediDropdownBtn').addEventListener('click', function(){
                document.getElementById('mercrediDropdown').classList.toggle('open');
            })
            document.getElementById('mardiDropdownBtn').addEventListener('click', function(){
                document.getElementById('mardiDropdown').classList.toggle('open');
            })
            document.getElementById('lundiDropdownBtn').addEventListener('click', function(){
                document.getElementById('lundiDropdown').classList.toggle('open');
            })
    
        </script>
    {% endblock javascripts %}
    