{% extends 'base.html.twig' %}

{% block title %}Fiches Clients
{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5 p-4 px-5">

        <div class="row">

            {{ form_start(searchForm) }}

                {{ form_row(searchForm.nom, {'attr': {'class': 'form-control'}}) }}
      
                <button type="submit" class="btn btn-secondary">Rechercher</button>

            {{ form_end(searchForm) }}

        </div>

        {% if result |length > 0 %}
            
            <div class="row rdvTable mt-5">

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Voir</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in result %}
                        <tr>
                            <th scope="row">
                                <i class="fas fa-user-circle" style="color:rgb(136, 167, 196); font-size:1.5rem;"></i>
                            </th>
                            <td>
                                {{ f.nom }} 
                            </td>
                            <td>
                                {{ f.prenom }}
                            </td>
                            <td>
                                <a href="{{ path('EditFichesClients', { 'id': f.id }) }}"><i class="fas fa-angle-right large"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>             
            
            </div>

        {% else %}

            <div class="row rdvTable mt-5">

                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Plus</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for f in fichesClients %}
                        <tr>
                            <th scope="row">
                                <i class="fas fa-user-circle" style="color:rgb(136, 167, 196); font-size:1.5rem;"></i>
                            </th>
                            <td>
                                {{ f.nom }} 
                            </td>
                            <td>
                                {{ f.prenom }}
                            </td>
                            <td>
                                <a href="{{ path('EditFichesClients', { 'id': f.id }) }}"><i class="fas fa-angle-right large"></i></a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>             
            
            </div>

        {% endif %}
    </div>
      
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById('titlePage').innerHTML = "Fiches clients";
    </script>
{% endblock javascripts %}

{% block stylesheets %}
  <style>
    @media(max-width:700px){
      .contentRight{
        padding: 15px 10px 15px 10px !important;
      }
    }
    #content > .container{
        display: block !important;
        max-width: 90% !important;
    }
  </style>
{% endblock %}
