{% extends 'base.html.twig' %}

{% block title %}Mes infos
{% endblock %}

{% block body %}

{{ form_start(user) }}
<br>
<br>
<div class="container">
<div class="mb-5 p-4 mt-3 widget" id="infosSection">

          
            <div class="row">

                <div class="col-12">
                    <h4>Gérez vos informations</h4>
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(user.timeLapse, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-12 col-md-6">
                    {{ form_row(user.employeesNbr, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-12 form-check">
                    {{ form_row(user.showPreta, {'attr': {'class': 'form-check-input'}}) }}
                </div>
            </div>

              
                <div class="row">

                    <div class="col-12">
                        <h6>Renseigner vos horaires d'ouverture hebdomadaire</h6>
                    </div>
    

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="btn-group  mb-4 mr-2" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary">
                                <input type="checkbox" aria-label="Checkbox for following text input"  name="lundiCheck" id="lundiCheck">
                            </button>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDefault" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lundi <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDefault">
                                    <h6 class="dropdown-header">Début de journée</h6>
                                    <input type="time" class="form-control" name="lundiStart" value="08:00" id="lundiStart">
                                    <h6 class="dropdown-header">Fin de journée</h6>
                                    <input type="time" class="form-control" name="lundiEnd" value="19:00" id="lundiEnd">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="btn-group  mb-4 mr-2" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary">
                               <input type="checkbox" aria-label="Checkbox for following text input" name="mardiCheck" id="mardiCheck">
                            </button>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDefault" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mardi <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDefault">
                                    <h6 class="dropdown-header">Début de journée</h6>
                                    <input type="time" class="form-control" name="mardiStart" value="08:00" id="mardiStart">
                                    <h6 class="dropdown-header">Fin de journée</h6>
                                    <input type="time" class="form-control" name="mardiEnd" value="19:00" id="mardiEnd">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="btn-group  mb-4 mr-2" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary">
                              <input type="checkbox" aria-label="Checkbox for following text input" name="mercrediCheck" id="mercrediCheck">
                            </button>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDefault" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mercredi <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDefault">
                                    <h6 class="dropdown-header">Début de journée</h6>
                                    <input type="time" class="form-control" name="mercrediStart" value="08:00" id="mercrediStart">
                                    <h6 class="dropdown-header">Fin de journée</h6>
                                    <input type="time" class="form-control" name="mercrediEnd" value="19:00" id="mercrediEnd">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="btn-group  mb-4 mr-2" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="jeudiCheck" id="jeudiCheck">
                            </button>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDefault" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Jeudi <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDefault">
                                    <h6 class="dropdown-header">Début de journée</h6>
                                    <input type="time" class="form-control" name="jeudiStart" value="08:00" id="jeudiStart">
                                    <h6 class="dropdown-header">Fin de journée</h6>
                                    <input type="time" class="form-control" name="jeudiEnd" value="19:00" id="jeudiEnd">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="btn-group  mb-4 mr-2" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="vendrediCheck" id="vendrediCheck">
                            </button>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDefault" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Vendredi <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDefault">
                                    <h6 class="dropdown-header">Début de journée</h6>
                                    <input type="time" class="form-control" name="vendrediStart" value="08:00" id="vendrediStart">
                                    <h6 class="dropdown-header">Fin de journée</h6>
                                    <input type="time" class="form-control" name="vendrediEnd" value="19:00" id="vendrediEnd">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="btn-group  mb-4 mr-2" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="samediCheck" id="samediCheck">
                            </button>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDefault" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Samedi <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDefault">
                                    <h6 class="dropdown-header">Début de journée</h6>
                                    <input type="time" class="form-control" name="samediStart" value="08:00" id="samediStart">
                                    <h6 class="dropdown-header">Fin de journée</h6>
                                    <input type="time" class="form-control" name="samediEnd" value="19:00" id="samediEnd">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="btn-group  mb-4 mr-2" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="dimancheCheck" id="dimancheCheck">
                            </button>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDefault" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dimanche <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDefault">
                                    <h6 class="dropdown-header">Début de journée</h6>
                                    <input type="time" class="form-control" name="dimancheStart" value="08:00" id="dimancheStart">
                                    <h6 class="dropdown-header">Fin de journée</h6>
                                    <input type="time" class="form-control" name="dimancheEnd" value="19:00" id="dimancheEnd">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <div class="col-3 pl-0">
                <button type="submit" class="btn btn-warning">Confirmer</button>
            </div>
                <br>

                <input type="hidden" value="{{ userId }}" id="userId">

    
        </div>
    </div>


{{ form_end(user) }}
      
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById('titlePage').innerHTML = "Mes infos";

        var userId = document.getElementById('userId').value;

        $("input[name='add_user_infos[timeLapse]']").TouchSpin({
			buttondown_class: "btn btn-classic btn-warning",
			buttonup_class: "btn btn-classic btn-secondary",
			max: 10000,
			postfix: 'min'
		});

        $("input[name='add_user_infos[employeesNbr]']").TouchSpin({
			buttondown_class: "btn btn-classic btn-warning",
			buttonup_class: "btn btn-classic btn-secondary",
			max: 10000,
		});

        function callUserInfos(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/users/'+userId);
            xhr.onload = () => {
                const res = JSON.parse(xhr.response);
                userInfos = res;
                console.log({
                  type: "CONSOLE USER",
                  data: userInfos
                });
                
                for(var i = 0; i < res.workDays.length; i++){
                  var day = res.workDays[i];
               
                  if(day.daysOfWeek[0] === 1){
                      document.getElementById('lundiCheck').checked = true;
                      document.getElementById('lundiStart').value = day.startTime;
                      document.getElementById('lundiEnd').value = day.endTime;
                  }else if(day.daysOfWeek[0] === 2){
                      document.getElementById('mardiCheck').checked = true;
                      document.getElementById('mardiStart').value = day.startTime;
                      document.getElementById('mardiEnd').value = day.endTime;
                  }else if(day.daysOfWeek[0] === 3){
                      document.getElementById('mercrediCheck').checked = true;
                      document.getElementById('mercrediStart').value = day.startTime;
                      document.getElementById('mercrediEnd').value = day.endTime;
                  }else if(day.daysOfWeek[0] === 4){
                      document.getElementById('jeudiCheck').checked = true;
                      document.getElementById('jeudiStart').value = day.startTime;
                      document.getElementById('jeudiEnd').value = day.endTime;
                  }else if(day.daysOfWeek[0] === 5){
                      document.getElementById('vendrediCheck').checked = true;
                      document.getElementById('vendrediStart').value = day.startTime;
                      document.getElementById('vendrediEnd').value = day.endTime;
                  }else if(day.daysOfWeek[0] === 6){
                      document.getElementById('samediCheck').checked = true;
                      document.getElementById('samediStart').value = day.startTime;
                      document.getElementById('samediEnd').value = day.endTime;
                  }else if(day.daysOfWeek[0] === 7){
                      document.getElementById('dimancheCheck').checked = true;
                      document.getElementById('dimancheStart').value = day.startTime;
                      document.getElementById('dimancheEnd').value = day.endTime;
                  }
                }
    
            }
            xhr.setRequestHeader("Content-Type", "application/json");    
            xhr.send();
        }

        window.onload = () => {
            callUserInfos();
        }      

    </script>
{% endblock javascripts %}

{% block stylesheets %}
    <style>
        input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		}
    </style>
{% endblock stylesheets %}
