{% extends 'base.html.twig' %}

{% block title %}Modifier mes prestations
{% endblock %}

{% block body %}
	{{ form_start(addPresta) }}
	<br>
	<br>
	<div class="container">
		<div class="mb-5 p-5 shadow arrondi bg-light">
			<div class="row mt-3 ml-3 mb-4">
				<h2>Modifier la prestation</h2>
			</div>
			<div class="row col-12">
				<div class="col-6">
					{{ form_row(addPresta.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col-6">
					{{ form_row(addPresta.category, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="row col-12">
				<div class="col-6">
					{{ form_row(addPresta.image, {'attr': {'class': 'form-control'}}) }}
					<p>
						<i id="nameFile"></i>
					</p>
				</div>

				<div class="col-6">
					{{ form_row(addPresta.prestaTime, {'attr': {'class': 'form-control'}}) }}
				</div>
	
				{{ form_row(addPresta.agendaColor, {'attr': {'class': 'form-control'}}) }}
			
			</div>

			<div class="row col-12 mt-2 mb-4">

				<div class="col-5 d-flex justify-content-around align-items-start shadow pr-5 py-2 rounded bg-white" style="margin-left:15px;">
					<div class="d-flex flex-column">
						<h6 class="w-100">Séléctionner votre couleur</h6>
						<div id="boxColor"></div>
						<p class="mt-2"><b id="hexaText"></b></p>
						<p><b id="rgbText"></b></p>
					</div>
					<div id="picker" class="col-3"></div>
				</div>
			</div>

			<div class="row col-12">

				<div class="col-6">
					<div class="btn btn-outline btn-primary mb-3" id="addBreakTimeBtn">Ajouter un temps de pause</div>
				</div>

				<div id="breaktime" style="display:none;" class="col-6">
					{{ form_row(addPresta.breakTime, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div id="prestaTime2" style="display:none;" class="col-6">
					{{ form_row(addPresta.prestaTime2, {'attr': {'class': 'form-control'}}) }}
				</div>

			</div>

			<div class="col-3 mb-3">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</div>
			<br>
		</div>
	</div>
	{{ form_end(addPresta) }}
{% endblock %}

{% block javascripts %}

	<script>
		
		window.onload = () => {
			var colorPicker = new iro.ColorPicker("#picker", {
				// Set the size of the color picker
				width: 100,
				// Set the initial color to pure red
				color: document.getElementById('add_prestation_agendaColor').value
				
			});

			colorPicker.on(['color:init', 'color:change'], function(color) {
				// log the current color as a HEX string
				console.log(color.hexString);
				document.getElementById('boxColor').style.backgroundColor = color.hexString;
				document.getElementById('add_prestation_agendaColor').value = color.hexString;
				document.getElementById('hexaText').innerHTML = color.hexString;
				document.getElementById('rgbText').innerHTML = color.rgbString;
			});
		}

		document.getElementById('addBreakTimeBtn').addEventListener('click', function () {
		document.getElementById('breaktime').style = "display:block;";
		document.getElementById('prestaTime2').style = "display:block;";
		document.getElementById('addBreakTimeBtn').style = "display:none;";
		})


		document.getElementById('add_prestation_image').addEventListener('input', function (evt) {

		document.getElementById('nameFile').innerHTML = this.value;

		var label = document.getElementsByClassName('custom-file-label');
		for (var i = 0; i < label.length; i++) {
		label[i].style.border = '2px solid green';
		}

		});
	</script>
{% endblock javascripts %}
