{% extends 'base.html.twig' %}

{% block title %}Mes prestations
{% endblock %}

{% block body %}

	<div class="container mb-5 mt-5">
	
		<div class="row">

			{% for p in presta %}
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
					<div class="card component-card_2">
						<img src="{{ asset('images/'~p.image) }}" class="card-img-top mr-3" alt="widget-card-2" style="width: 100%; height: 220px;">
						<div class="card-body">
							<h5 class="card-title">{{ p.name }}</h5>
							<p class="card-text">{{ p.prestaTime }} min | {{ p.price }} euros </p>
							{% if p.category %}
								<p class="card-text">{{ p.category.name }}</p>
								{% else %}
								<p class="card-text">Sans catégorie</p>
							{% endif %}
							<a href="{{path('prestation_edit', { 'id': p.id })}}" class="btn btn-secondary">Mise à jour</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block javascripts %}

	<script>

		document.getElementById('titlePage').innerHTML = "Mes prestations";
		
		window.onload = () => {
			document.querySelector('.button-left').addEventListener('click', function() {
			  document.querySelector('.sidebar').classList.toggle('fliph');
			})
		}

	</script>

{% endblock javascripts %}